# Created by .ignore support plugin (hsz.mobi)
### Actionscript template
# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

.idea/
